body,
ul,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend,
figure,
figcaption,
menu,
input {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

body {
    font-family: "微软雅黑";
}

input,
a {
    outline: none;
}


/* 以上内容为样式重置 */

html,
body {
    height: 100%;
}

body,
header,
menu,
.header-top,
.header-bottom,
.content-center,
.content-bottom,
nav,
.footer {
    margin: 0 auto;
}


/* header 头部 */
body{
    
    margin: 0 auto;
}
header {
    height: 102px;
    background: #eeeeee;
}

.header-wrap{
    background: #eee;
    border-bottom: 1px solid #e5e5e5;
}

/* .header-topnav 头部导航 */
.header-topnav {
    position: relative; width: 990px;
    padding-top: 4px;
    height: 21px;
    margin: 0 auto;
    z-index: 10000;
    font-size: 12px;
    color: #666666;
    font-family: "宋体";
}

.header-topnav ul {
    width: 960px;
    position: absolute;
    height: 16px;
    top: 4px;
    left: 25px;
}
.header-topnav li{    
    float: left;
    padding: 0 14px;
    position: relative;
    border-right: 1px solid #d5d5d5;
    height: 16px;
    line-height: 16px;
    font-family: '宋体';
}

.header-topnav li i{
    position: absolute;
    top: 6px;
    right: 10px;
    width: 2px;
    height: 0px;
    overflow: hidden;
    border-style: solid;
    border-color: #666 #eee #eee;
    z-index: 7;

}

.header-topnav li p{
    width: 60px;
    position: relative;
    z-index: 8;
}

.header-topnav li:nth-of-type(1) {
    width: 158px;
}
.header-topnav li:nth-of-type(1) a{
    color: #ff6600;
}
.header-topnav li:nth-of-type(2) {
    position: relative;
    width: 73px;
}
.header-topnav li:nth-of-type(3) {
    width: 90px;
    line-height: 16px;
}
.header-topnav li:nth-of-type(3) img{
    display: inline-block;
}
.header-topnav li:last-of-type img{
    width: 280px;

}

.header-topnav li a:hover{
    color: red;
    border-bottom: 1px solid red;
}
/* 我的名鞋库 */
.header-topnav ul  li:nth-of-type(2) .myshoes_drop{
    position: absolute;
    display: none;
}
.header-topnav ul  li:nth-of-type(2):hover .myshoes_hd{
    position: absolute;
    height: 25px;
    width: 100px;
    left: -1px;
    top: -4px;
    border: 1px solid #ccc;
    box-shadow: 0 -3px 3px #ccc;
    border-bottom: 0;
    background: #fff;
    display: inline-block;
}

.header-topnav ul  li:nth-of-type(2) .myshoes_drop{
    width: 165px;
    padding-right: 0;
    /* overflow: hidden; */
    padding: 10px 10px 10px 15px;
    min-width: 65px;
}

.header-topnav ul  li:nth-of-type(2) .myshoes_drop ul{
    width: 165px;
    
}

.header-topnav ul  li:nth-of-type(2):hover .myshoes_drop {
    width: 165px;
    height: 100px;
    position: absolute;
    top: 22px;
    left: -90px; 
    box-shadow: 0 0 3px #ccc;
    background-color: #fff;
    
}
.header-topnav ul  li:nth-of-type(2):hover .myshoes_drop li{
    border: 0;
    height: 27px;
    width: 50px;
    border: 1px dashed #ccc;
    padding-left: 2px;
    line-height: 26px;
    margin-right: 15px;
}


/* header-bottom 头部下半部分 */
.header-center {
    height: 77px;
    background: #ffffff;
}

.header-bottom {
    height: 77px;
    width: 990px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
/* logo */
.header-bottom img {
    margin-top:10px;
    margin-bottom: 4px;
}
/* sub_help 副搜索 */
.header-bottom .sub_help{
    float: right;
    padding-top: 8px;
    width: 535px;
    height: 68px;
}
.header-bottom .search{
    width: 345px;
    float: left;
    height: 55px;
    padding-top: 8px;
    padding-bottom: 4px;
}
.header-bottom input[type=text] {
    width: 270px;
    height: 26px;
    border: 2px solid #d5d5d5;
    padding-left: 6px;
    vertical-align: bottom;
    font-size: 12px;
    color: #666666;
}

.header-bottom div input[type=button] {
    width: 65px;
    height: 30px;
    background: #444444;
    border: 0;
    margin-left: -6px;
    vertical-align: bottom;
    font-size: 16px;
    color: #fff;
}

.header-bottom div input[type=button]:hover {
    background: #d5d5d5;
    border: 1px solid #999;
    color: red;
    font-weight: 500;
}

.header-bottom div p a {
    font-size: 12px;
    color: #888888;
    line-height: 28px;
}

.header-bottom div p a:hover {
    color: red;
    text-decoration: underline;
}

.header-bottom div p span {
    font-size: 12px;
    color: #cccccc;
}

/* cart 购物车 */
.header-bottom .cart{
    width: 126px;
    height: 34px;
    padding-top: 12px;
    float: right;
}
.header-bottom .gouwu {
    display: block;
    width: 80px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: none;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    font-size: 12px;
    color: #666666;
    background: url(../img/head_cart_bg.gif)repeat-x top;
    padding-left: 44px;
    display: block;
}

.header-bottom .gouwu span {
    color: #cc0000;
}
.header-bottom .cart:hover a{
    color: #fff;
}
.header-bottom .gouwu:hover {
    background: url(../img/head_cart_bg.gif)repeat-x bottom;
}

/* nav 导航栏 */

.nav {
    height: 34px;
    background: #a21f25;
    margin: 0 auto;
}

nav {
    height: 34px;
    width: 1050px;
    line-height: 34px;
}

nav h3,
nav ul,
nav div {
    float: left;
}

nav div {
    display: flex;
    flex-direction: column;
}

nav div img:nth-child(2) {
    display: none;
}

nav div:hover img:nth-child(2) {
    display: block;
}

nav .license{
    float: right;
    width: 296px;
    height: 14px;
    padding-top: 0 10px ;
    margin-right: -60px;
}
nav .license img{
    height: 33px;
}
nav h3 {
    width: 189px;
    font-size: 14px;
    text-align: center;
    background: #b9363d;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

nav h3 a {
    color: #fff;
}

nav h3 ul {
    flex-direction: column;
    background: #000;
    color: #ffffff;
    font-weight: 100;
    display: none;
    text-align: left;
}

nav h3 ul li {
    padding-left: 30px;
    transition: 1s;
}

nav h3:hover ul {
    display: flex;
}
nav ul:nth-of-type(1) li:first-child{
    background-color: #444;
}
nav h3 li:hover {
    background: #bb0000;
    padding-left: 50px;
}

nav h3 li a:hover {
    text-decoration: underline;
}

nav .nav-bottom li {
    float: left;
    background: url(../img/line.png) no-repeat center left;
}

nav .nav-bottom li a {
    padding: 0 23px 0 22px;
    color: #fff;
    font-size: 14px;
    line-height: 34px;
    height: 34px;
    display: block;
}

nav .nav-bottom li a {
    border-right: 1px solid #a21f25;   
}

nav .nav-bottom li a:hover {
    background: #444444;
}

nav p {
    margin-right: -12px;
    display: flex;
}

nav p a {
    font-size: 12px;
    color: #f6e9ea;
}

nav p span {
    margin: 0 12px;
    color: #d18f92;
}

nav p a:nth-child(5) {
    font-weight: normal;
    color: #ffcc00;
}

nav p a:hover {
    color: red;
    text-decoration: underline;
}


/* banner 紫色背景 */
.xiaoye {
    background: url(../img/bgse.jpg) repeat ;
}

.xiaoye .pagemain .carnival img,
.xiaoye .pagemain .hotsale img,
.xiaoye .pagemain .newproduct img,
.xiaoye .pagemain .clearance img,
.xiaoye .pagemain .hishopping img,
.xiaoye .pagemain .fallwinter img,
.xiaoye .pagemain .tideproduct img,
.xiaoye .pagemain .hotalbum img,
.xiaoye .pagemain .jacket img,
.xiaoye .pagemain .pants img,
.xiaoye .pagemain .running img,
.xiaoye .pagemain .leisure img,
.xiaoye .pagemain .children img,
.xiaoye .pagemain .bags img{
   height: 100%;
   width: 1905px;
   margin: 0 auto;
   opacity: 0.6;
}

/* 狂欢盛典 */
.xiaoye .pagemain .carnival{
    height: 890px;
}

/* 1. 热卖专区 */
.xiaoye .pagemain .hotsale{
    height: 1302px;
    position: relative;
}

    
    /* 公共部分:黄色+定位+flex */

    /* 1.热卖 */
.pagemain .hotsale  .hotmap_top,
.pagemain .hotsale  .hotmap_bottom,
    /* 2.新品 */
.pagemain .newproduct .new_move,
.pagemain .newproduct .new_map,
    /* 3.清仓 */
.pagemain .clearance .clear_move,
.pagemain .clearance .clear_map,
    /* 4.嗨购 */
.pagemain .hishopping .hi_map_top,
.pagemain .hishopping .hi_map_bottom,
    /* 5.秋冬 */
.pagemain .fallwinter .fall_move,
.pagemain .fallwinter .fall_map_top,
.pagemain .fallwinter .fall_map_bottom,
    /* 6.潮品 */
.pagemain .tideproduct .tide_move,
.pagemain .tideproduct .tide_map_top,
.pagemain .tideproduct .tide_map_bottom,
    /* 7. HOT ALBUM */
.pagemain .hotalbum .hot_move,
.pagemain .hotalbum .hot_map_top,
.pagemain .hotalbum .hot_map_bottom,
.pagemain .hotalbum .hot_map_bottom1,
.pagemain .hotalbum .hot_map_bottom2,
.pagemain .hotalbum .hot_map_bottom3
{
    border: 1px solid black;
    background: yellow;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: space-between;
    opacity: 0.4;
    /*  */
}
    /* 热卖 */
.pagemain .hotsale  .hotmap_top a,
.pagemain .hotsale  .hotmap_bottom a,
    /* 新品· */
.pagemain .newproduct .new_map a,
    /*  清仓 */
.pagemain .clearance .clear_map a,
    /* 嗨购 */
.pagemain .hishopping .hi_map_bottom a,
    /* 5.秋冬 */
.pagemain .fallwinter .fall_map_bottom a,
    /* 6.潮品 */
.pagemain .tideproduct .tide_map_bottom a,
    /* 7.HOT ALBUM */
.pagemain .hotalbum .hot_map_top a,
.pagemain .hotalbum .hot_map_bottom1 a,
.pagemain .hotalbum .hot_map_bottom2 a,
.pagemain .hotalbum .hot_map_bottom3 a{
    display: block;
    border: 1px solid blue;
    background: red;
    opacity: 0.7;
    /*  */
}

    /* 各自属性 */
/* 热卖定位map  top + bottom*/
    .pagemain .hotsale  .hotmap_top{
        width:900px;
        height:352px ;
        top: 130px;
        left: 505px;
    }

    .pagemain .hotsale  .hotmap_top a{
        width: 160px;
        height: 160px;
    }

    .pagemain .hotsale  .hotmap_bottom{
        width:856px;
        height:300px ;
        top:835px;
        left: 410px;
    }
    .pagemain .hotsale  .hotmap_bottom a{
        width:420px;
        height: 300px;
    }

/* position: relative; */
.xiaoye .pagemain .newproduct,
.xiaoye .pagemain .clearance,
.xiaoye .pagemain .hishopping,
.xiaoye .pagemain .fallwinter,
.xiaoye .pagemain .tideproduct,
.xiaoye .pagemain .hotalbum{
    position: relative;
}

/* 1move+4bottom */
/* 2. 新品专区 */
.xiaoye .pagemain .newproduct{
    height: 2711px;
}
    /* 新品+清仓+秋冬-move宽高*/
.pagemain .newproduct .new_move,
.pagemain .clearance .clear_move,
.pagemain .fallwinter .fall_move,
.pagemain .tideproduct .tide_move{
    width:860px;
    height:352px ;
}
    /* 新品+清仓+秋冬-move定位 */
    .pagemain .newproduct .new_move,
    .pagemain .clearance .clear_move,
    .pagemain .fallwinter .fall_move,
    .pagemain .tideproduct .tide_move{
        top: 5px;
        left: 505px;
    }
    /* 新品+嗨购+秋冬-bottom定位(黄色) */
    .pagemain .newproduct .new_map,
    .pagemain .hishopping .hi_map_bottom,
    .pagemain .fallwinter .fall_map_bottom,
    .pagemain .tideproduct .tide_map_bottom{
        width:912px;
        height:2255px ;
        top: 375px;
        left:496px;
    }
    /* 新品+嗨购+秋冬-a定位(红色) */
    .pagemain .newproduct .new_map a,
    .pagemain .hishopping .hi_map_bottom a,
    .pagemain .fallwinter .fall_map_bottom a,
    .pagemain .tideproduct .tide_map_bottom a{
        width:285px;
        height:535px ;
        top: 375px;
        left:496px;
    }
    
/* 1move+3bottom */
/* 3. 李宁清仓专区 */
.xiaoye .pagemain .clearance{
    height: 2113px;
}
    /* 清仓定位 */
    .pagemain .clearance .clear_map{
        width:912px;
        height:1660px ;
        top: 370px;
        left:496px;
    }
    .pagemain .clearance .clear_map a{
        width:285px;
        height:535px ;
        top: 375px;
        left:496px;
    }

/* 1move+1top+4bottom */
/* 4. 热卖嗨购  5. 秋冬新品 */
.xiaoye .pagemain .hishopping,
.xiaoye .pagemain .fallwinter,
.xiaoye .pagemain .tideproduct{
    height: 3116px;
}
    /* 嗨购+秋冬 top+bottom定位 */
    .pagemain .hishopping .hi_map_top,
    .pagemain .fallwinter .fall_map_top,
    .pagemain .tideproduct .tide_map_top{
        width:920px;
        height:460px ;
        top:355px;
        left:496px;
    }
    .pagemain .hishopping .hi_map_bottom,
    .pagemain .fallwinter .fall_map_bottom,
    .pagemain .tideproduct .tide_map_bottom{
        top: 850px;
    }
    .pagemain .hishopping .hi_map_bottom a,
    .pagemain .fallwinter .fall_map_bottom a,
    .pagemain .tideproduct .tide_map_bottom a{
        top: 850px;
    }


/* 6. 潮品聚集 */
.xiaoye .pagemain .tideproduct{
    height: 3164px;
}
.pagemain .tideproduct .tide_move{
    top: 20px;
}
.pagemain .tideproduct .tide_map_top{
    top:400px;
}
.pagemain .tideproduct .tide_map_bottom{
    top:900px;
}
/* 7. HOT ALBUM */
.xiaoye .pagemain .hotalbum{
    height:2107px;
}
.pagemain .hotalbum .hot_map_top{
    width: 930px;
    height: 830px;
    top:300px ;
    left: 490px;
}
.pagemain .hotalbum .hot_map_top a{
    width: 450px;
    height: 400px;
}

/* 8. 卫衣外套 */
.xiaoye .pagemain .jacket{
    height: 379px;
}
/* 卫衣外套_商品 */
.xiaoye .pagemain .jacket_prod{
    height: 1813px;
    background-color: plum;
}
.xiaoye .pagemain .jacket_prod_list{
    width: 990px;
    height: 1811px;
    border: 1px solid black;
    margin:0 auto;
}

/* 9. 运动长裤 */
.xiaoye .pagemain .pants{
    height: 366px;
}
/* 运动长裤_商品 */
.xiaoye .pagemain .pants_prod{
    height: 2115px;
    background-color: peachpuff;
}
.xiaoye .pagemain .pants_prod_list{
    width: 990px;
    height:2113px;
    border: 1px solid black;
    margin:0 auto;
}

/* 10. 跑步鞋 */
.xiaoye .pagemain .running{
    height: 358px;
}
/* 跑步鞋_商品 */
.xiaoye .pagemain .running_prod{
    height: 1209px;
    background-color: paleturquoise;
}
.xiaoye .pagemain .running_prod_list{
    width: 990px;
    height:1207px;
    border: 1px solid black;
    margin:0 auto;
}

/* 11. 休闲鞋 */
.xiaoye .pagemain .leisure{
    height: 376px;
}
/* 休闲鞋_商品 */
.xiaoye .pagemain .leisure_prod{
    height: 1209px;
    background-color: peru;
}
.xiaoye .pagemain .leisure_prod_list{
    width: 990px;
    height:1207px;
    border: 1px solid black;
    margin:0 auto;
}


/* 12. 童装童鞋 */
.xiaoye .pagemain .children{
    height: 359px;
}
/* 童装童鞋_商品 */
.xiaoye .pagemain .children_prod{
    height: 605px;
    background-color: palegreen;
}
.xiaoye .pagemain .children_prod_list{
    width: 990px;
    height:603px;
    border: 1px solid black;
    margin:0 auto;
}

/* 13. 包包配件 */
.xiaoye .pagemain .bags{
    height: 375px;
}
/* 包包配件_商品 */
.xiaoye .pagemain .bags_prod{
    height: 1209px;
    background-color: powderblue;
}
.xiaoye .pagemain .bags_prod_list{
    width: 990px;
    height:1207px;
    border: 1px solid black;
    margin:0 auto;
}

/* bottom 最下部 */
.bottom {
    border-top: 2px solid red;
    border-bottom: 1px solid #e8e8e8;
    background: rgb(233, 192, 177);
    box-sizing: border-box;
}

/* footbrand 底部商标 */

.bottom .bottombrand{
    width: 892px;
    height: 143px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid black;
}

/* prodfenlei 商品分类 */

.bottom .prodfenlei{
    height: 36px;
    width: 990px;
    margin: 0 auto 28px;
    clear: both;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.bottom .prodfenlei h3{
    font-size: 18px;
    font-family: microsoft yahei;
    position: absolute;
    left: 50%;
    margin: 12px 0 0 -60px;
    background: #fff;
    padding: 10px 20px;
    font-weight: 100;
}

.bottom .prodfenlei_body{
    width: 990px;
    height: 185px;
    margin: 0 auto 15px;
    font-family: microsoft yahei;
    overflow: hidden;
    background-color: darkkhaki;
}
.bottom .fanhui_wrap{
    height: 50px;
    margin: 0 auto;
    background: #fff;
    border-bottom:2px solid #ce3c3b;
}
.bottom  .fanhui{
    width: 990px;
    margin: 0 auto;
}
/* foot */
footer{
    padding: 15px;
    background: #f5f5f5;
    border-bottom: 1px solid #e8e8e8;
}
footer .footer {
    width: 990px;
    display: flex;
  
}

footer .footer figure {
    flex: 1;
}

footer .footer figure:nth-child(1) {
    padding-left: 15px;
    padding-right: 10px;
    border-right: 1px solid #dedede;
}

footer .footer figure:nth-child(2) {
    padding-left: 52px;
}

.footer figcaption {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.footer figcaption a {
    line-height: 20px;
    font-size: 12px;
    color: #999999;
}

.footer figcaption h3 {
    line-height: 34px;
    font-size: 14px;
    font-weight: 900;
    color: #666666;
}

.footer figcaption a:hover {
    text-decoration: underline;
    color: green;
}


/* copyright 版权信息 */

.copyright {
    height: 146px;
    background: #f8f8f8;
    text-align: center;
    overflow: hidden;
}
/* p部分 */
.copyright p {
    width: 1110px;
    /* background: yellowgreen; */
    margin: 0 auto;
  
    line-height: 22px;
    color: #777777;
    margin-top: 16px;
}

.copyright p a {
    color: #777777;  font-size: 12px;
    line-height: 12px;
    display:inline-block;
}
.copyright p span{
    padding: 0 13px;
}
.copyright p a:hover {
    color: #000;
    text-decoration: underline;
}
/* b部分 */
.copyright b {
    font-size: 8px;
    line-height: 22px;
    color: #777777;
    font-weight: normal;
}

.copyright b a {
    color: #777777;
}

.copyright b a:hover {
    text-decoration: underline;
    color: red;
}

.copyright b span {
    color: #cc0000;
    font-weight: 700;
    font-size: 20px;
}

.copyright b img {
    display: inline;
}
/* row03 */
.copyright .row03{
    width: 640px;
    height: 50px;
   margin:0 auto;
   margin-top: 20px;
   margin-bottom: 30px;
}

.copyright .row03 a {
    float: left;
    width: 112px;
    height: 47px;
    margin-right: 10px;
}

.copyright .row03 a img:hover {
    border-top: 1px solid #f8f8f8;
    border-left: 1px solid #f8f8f8;
}